#yeDao {
    background-color: black;
}

#yeTou {
    background-color: black;
}

.qiangGou {
    background-color: #1b1505;
    border: none;
    margin-top: 400px;
    margin-left: 580px;
    color: aliceblue;
    text-align: center;

}
